<section class="section skills" id="skills">
  <div class="container">
    <div class="row justify-content-center">
      <div class="container-title text-center mb-4 pb-2">
        <h2 class="title text-capitalize mb-4 wow bounceInDown"  data-wow-duration = "1s">
          My Skills
        </h2>
      </div>
    </div>

    <div class="row align-items-center" >
      <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
        <div class="card explore-feature border-0 text-center bg-white p-3">
          <div class="card-body p-0">
              <div class="skill-icon rounded-circle shadow-lg  d-inline-block wow bounceInDown"  data-wow-duration = "1s">
                  <img src="../../assets/images/skills/Angular.svg" alt="" class="img-fluid mx-auto">
              </div>
              <!-- <span class="badge skill-badge badge-light">70%</span> -->
              <div class="progress mt-3">
                <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                  <span>70% </span>
                </div>
              </div>
            
          </div>  
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
        <div class="card explore-feature border-0 text-center bg-white p-3">
          <div class="card-body p-0">
              <div class="skill-icon rounded-circle shadow-lg  d-inline-block wow bounceInDown"  data-wow-duration = "1s">
                  <img src="../../assets/images/skills/bootstrap.svg" alt="" class="img-fluid mx-auto">
              </div>
              <!-- <span class="badge skill-badge badge-light">70%</span> -->
              <div class="progress mt-3">
                <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  <span>80% </span>
                </div>
              </div>
          </div>  
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
        <div class="card explore-feature border-0 text-center bg-white p-3">
          <div class="card-body p-0">
              <div class="skill-icon rounded-circle shadow-lg  d-inline-block wow bounceInDown"  data-wow-duration = "1s">
                  <img src="../../assets/images/skills/amazons3.svg" alt="" class="img-fluid mx-auto">
              </div>
              <!-- <span class="badge skill-badge badge-light">70%</span> -->
              <div class="progress mt-3">
                <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="80"
                aria-valuemin="0" aria-valuemax="100" style="width:80%">
                  <span>80% </span>
                </div>
              </div>
          </div>  
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
        <div class="card explore-feature border-0 text-center bg-white p-3">
          <div class="card-body p-0">
              <div class="skill-icon rounded-circle shadow-lg  d-inline-block wow bounceInDown"  data-wow-duration = "1s">
                  <img src="../../assets/images/skills/icons8-javascript.svg" alt="" class="img-fluid mx-auto">
              </div>
              <!-- <span class="badge skill-badge badge-light">70%</span> -->
              <div class="progress mt-3">
                <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100" style="width:85%">
                  <span>85% </span>
                </div>
              </div>
          </div>  
      </div>
      </div>
    </div>
<!-- end row -->
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
        <div class="card explore-feature border-0 text-center bg-white p-3">
          <div class="card-body p-0">
              <div class="skill-icon rounded-circle shadow-lg  d-inline-block wow bounceInDown"  data-wow-duration = "1s">
                  <img src="../../assets/images/skills/post_gray_sql.svg" alt="" class="img-fluid mx-auto">
              </div>
              <!-- <span class="badge skill-badge badge-light">70%</span> -->
              <div class="progress mt-3">
                <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="85"
                aria-valuemin="0" aria-valuemax="100" style="width:85%">
                  <span>85% </span>
                </div>
              </div>
            
          </div>  
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
        <div class="card explore-feature border-0 text-center bg-white p-3">
          <div class="card-body p-0">
              <div class="skill-icon rounded-circle shadow-lg  d-inline-block wow bounceInDown"  data-wow-duration = "1s">
                  <img src="../../assets/images/skills/django-logo-positive.svg" alt="" class="img-fluid mx-auto">
              </div>
              <!-- <span class="badge skill-badge badge-light">70%</span> -->
              <div class="progress mt-3">
                <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100" style="width:60%">
                  <span>60% </span>
                </div>
              </div>
          </div>  
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
        <div class="card explore-feature border-0 text-center bg-white p-3">
          <div class="card-body p-0">
              <div class="skill-icon rounded-circle shadow-lg  d-inline-block wow bounceInDown"  data-wow-duration = "1s">
                  <img src="../../assets/images/skills/firebase-icon.svg" alt="" class="img-fluid mx-auto">
              </div>
              <!-- <span class="badge skill-badge badge-light">70%</span> -->
              <div class="progress mt-3">
                <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" style="width:75%">
                  <span>75% </span>
                </div>
              </div>
          </div>  
      </div>
      </div>
      <div class="col-lg-3 col-md-6 col-6 mt-4 pt-2">
        <div class="card explore-feature border-0 text-center bg-white p-3">
          <div class="card-body p-0">
              <div class="skill-icon rounded-circle shadow-lg  d-inline-block wow bounceInDown"  data-wow-duration = "1s">
                  <img src="../../assets/images/skills/tensorflow.svg" alt="" class="img-fluid mx-auto">
              </div>
              <!-- <span class="badge skill-badge badge-light">70%</span> -->
              <div class="progress mt-3">
                <div class="progress-bar custom-progress-bar" role="progressbar" aria-valuenow="35"
                aria-valuemin="0" aria-valuemax="100" style="width:35%">
                  <span>35% </span>
                </div>
              </div>
          </div>  
      </div>
      </div>
    </div>

  </div>
</section>
