<!-- Experience -->
<div class="section experience" id="experience-section">
  <div class="title">
        <h2 class="heading-1">
          Experience
        </h2>
    <span class="circle">
        <fa-icon [icon]="fa_briefcase" class="icon"></fa-icon>
      </span>
  </div>
  <div class="cd-timeline">
    <div class="cd-timeline-block animated">
      <div class="cd-timeline-point">
        <i class="icon ion ion-ios-checkmark-empty"></i>
        <div class="icon">
          <fa-icon [icon]="fa_check" class="icon"></fa-icon>
        </div>
        
      </div>
      <div class="cd-timeline-content">
        <div class="content-box">
          <div class="date">2022</div>
          <div class="name">
            SDE - I
            <p style="float:right;display:block">present</p>
          </div>
          
          <div class="category">MasterCard</div>
          <p>
            write about work here
          </p>
        </div>
      </div>
    </div>
    <div class="cd-timeline-block animated">
      <div class="cd-timeline-point">
        <div class="icon">
          <fa-icon [icon]="fa_check" class="icon"></fa-icon>
        </div>

      </div>
      <div class="cd-timeline-content">
        <div class="content-box">
          <div class="date">2021</div>
          <div class="name">
            SDE Intern
            <p style="float:right;display:block">2 months</p>
          </div>
          <div class="category">MasterCard</div>
          <p>
           write few lines . Data and Services
          </p>
        </div>
      </div>
    </div>
   
  </div>
</div>