<nav class="navbar navbar-expand-lg fixed-top navbar-custom navbar-light sticky" 
(scroll)="onWindowScroll();">
<div class="container">
	<!-- Logo container-->
	<a class="logo" href="">Portfolio</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" 
	aria-label="Toggle navigation">
			<i class="bi bi-menu-button"></i>
	</button><!--end button-->
	<div class="collapse navbar-collapse navigation" id="navbarCollapse">
			<ul id="navbar-navlist" class="navbar-nav ms-auto">
					<li class="nav-item">
							<a class="nav-link" href="#home">Home</a>
					</li><!--end nav item-->
					<li class="nav-item">
							<a class="nav-link" href="#services">About</a>
					</li><!--end nav item-->
					<li class="nav-item">
							<a class="nav-link" href="#resume">Skills</a>
					</li><!--end nav item-->
					<li class="nav-item">
							<a class="nav-link" href="#projects">Projects</a>
					</li><!--end nav item-->
					<li class="nav-item">
							<a class="nav-link" href="#news">References</a>
					</li><!--end nav item-->
					<li class="nav-item">
							<a class="nav-link" href="#contact">Contact</a>
					</li><!--end nav item-->
			</ul>
			<ul class="top-right text-end list-unstyled list-inline mb-0 mt-2 mt-sm-0 nav-social">
					<li class="list-inline-item me-2"><a href="javascript:void(0)"><i class="bi bi-facebook"></i></a></li>
					<li class="list-inline-item me-2"><a href="javascript:void(0)"><i class="bi bi-twitter"></i></a></li>
					<li class="list-inline-item"><a href="javascript:void(0)"><i class="bi bi-instagram"></i></a></li>
			</ul>
	</div> 
</div>
</nav>
<div class="hero-area position-relative bg-half-120 pb-0" id="home">
	<div class="container">	
			<div class="row">
				<div class="col-lg-7 col-md-7 align-items-center">
					 <div class="title-heading mt-4 py--50">
						<h1 class="heading text-black">We Need to think about this section !</h1>
					</div>
			  </div>
				<div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
					<div class="home-image">
							<img src="https://images.summitmedia-digital.com/cosmo/images/2020/11/18/bae-suzy-start-up-maison-kitsune-1605691196.jpg" alt="" class="img-fluid mx-auto position-relative">
					</div>
			  </div>
		</div>
		<div class="custom-header">
			<h1>This is Home Component !</h1>
		</div>
	</div>
</div>
